.svg {
    list-style: none;    
    position: relative;
    display: block;
    justify-content: left;
    display: flex;
    justify-content: space-around;
    align-items: right;
    color: #e3ebf5;
    text-transform: capitalize;
    box-sizing: border-box;
    letter-spacing: 3px;
    font-size: 1.6em;
    font-family: 'Mulish', sans-serif;    
}

.svg img {
    height: 5vh;
    margin-right: 10px;
}
