.navItem {
    list-style: none;
    
}

.navItem a {
    color:#e3ebf5;
    text-decoration: none;
    font-family: 'Mulish','Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
}

@media screen and (max-width: 900px){
    
}

/* .navItemAnimate {
    animation-name: navLinkFade;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 1s;
} */
/* 

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
} */