.burger {
    cursor: pointer;
}

.burger div {
    background-color: #e3ebf5;
    width: 45px;
    height: 7px;
    margin: 7px;
    border-radius: 5px;
}

@media screen and (max-width: 900px){
    .burger {
        display: block;
    }
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-10px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-10px, -6px);
}