.navItem {
    list-style: none;    
}

.navItem div {
    /* position: relative; */
    display: flex;
    justify-content: left;
}

.navItem a {
    position: relative;
    color:#e3ebf5;
    text-decoration: none;
    font-family: 'Mulish','Poppins', sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
    display: block;
}

